[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://$PYPI_USERNAME:$PYPI_PASSWORD@nexus.polylith.io/repository/pypi/simple"
verify_ssl = true
name = "polylith"

[packages]
django = "*"
pillow = "*"
dj-database-url = "*"
docker-database-url = "*"
dj-static = "*"
gunicorn = "*"
teamcity-messages = "*"
psycopg2-binary = "*"
entwicklerheld-events = "*"
djangorestframework = "*"
polylith-cors-middleware = "*"
django-prometheus = "*"
PyJWT = "*"
"boto3" = "*"
django-storages = "*"
sentry-sdk = "*"
django-redis = "*"
requests = "~=2.18.4"


[dev-packages]
black = "==19.3b0"
